.navbar {
}

.container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  filter: blur(0px);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.card .btn {
  border-radius: 27px;
  width: 100.2969px;
  box-shadow: 0px 2px 5px 0px var(--bs-black);
}

